<template $name="svg-chart" src:urltext="" rules:urljson="" data:urljson="">
  <%= this.$contents.innerHTML %>
  <script onrender>
    // <%= src ? uifactory.svgChart(this, src, rules, data) : this.innerHTML %>
    /* globals src, rules, data */
    if (src) {
      const parser = new DOMParser()
      const doc = parser.parseFromString(src, 'image/svg+xml')
      if (rules) {
        for (let [selector, attrs] of Object.entries(rules)) {
          let selection = Array.from(doc.querySelectorAll(selector))
          for (let [attr, value] of Object.entries(attrs)) {
            let method = attr == 'text' ? (node, val) => node.innerHTML = val : (node, val) => node.setAttribute(attr, val)
            selection.forEach((node, index) => {
              let val = typeof value == 'function' ? value.bind(node)(data, index) : value
              method(node, val)
            })
          }
        }
      }
      const serializer = new XMLSerializer()
      this.innerHTML = serializer.serializeToString(doc)
    }
  </script>
</template>
