<template $name="uifactory-config" component="comic-gen" ratio="2:5">
  <style>
    /* Customize website's scrollbar like Mac OS
    Not supports in Firefox and IE */

    /* total width */
    uifactory-config ::-webkit-scrollbar {
        background-color: #fff;
        width: 16px;
    }

    /* background of the scrollbar except button or resizer */
    uifactory-config ::-webkit-scrollbar-track {
        background-color: #fff;
    }

    /* scrollbar itself */
    uifactory-config ::-webkit-scrollbar-thumb {
        background-color: #babac0;
        border-radius: 16px;
        border: 4px solid #fff;
    }

    /* set button(top and bottom of the scrollbar) */
    uifactory-config ::-webkit-scrollbar-button {
        display:none;
    }
    
    uifactory-config {
      display: grid;
      grid-template-columns: var(--left, 1fr) var(--right, 1fr);
      grid-template-rows: 4fr 1fr;
      height: 100%;
    }
    uifactory-config > section {
      overflow: auto;
    }
    uifactory-config > .preview,
    uifactory-config > .preview > iframe {
      width: 100%;
      height: 100%;
    }
    uifactory-config > pre {
      grid-column: 1 / 3;
      position: relative;
    }
    uifactory-config > pre > button {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
    }
    uifactory-config > pre > code {
      display: flex;
      font-family: monospace;
    } 
  </style>
  <% 
    const split = ratio.split(':');
    this.style.setProperty('--left', split[0] + 'fr'); 
    this.style.setProperty('--right', split[1] + 'fr'); 
  %>
  <section>
    <% for (let [name, props] of Object.entries(uifactory.components[component].properties)) { %>
      <bs5-input default="<%- props.value %>" title="<%- name %>"></bs5-input>
    <% } %>
    <bs5-input data-type="style" default="auto" title="width"></bs5-input>
    <bs5-input data-type="style" default="auto" title="height"></bs5-input>
  </section>
  <section class="preview"></section>
  <pre>
    <button>Copy</button>
    <code>
    </code>
  </pre>
  <script onclick>
    if(!e.target.matches('uifactory-config pre > button')) return
    // https://stackoverflow.com/a/30810322/15483581
    function fallbackCopyTextToClipboard(text) {
      var textArea = document.createElement("textarea");
      textArea.value = text;
      
      // Avoid scrolling to bottom
      textArea.style.top = "0";
      textArea.style.left = "0";
      textArea.style.position = "fixed";

      document.body.appendChild(textArea);
      textArea.focus();
      textArea.select();

      try {
        var successful = document.execCommand('copy');
        var msg = successful ? 'successful' : 'unsuccessful';
        console.log('Fallback: Copying text command was ' + msg);
      } catch (err) {
        console.error('Fallback: Oops, unable to copy', err);
      }

      document.body.removeChild(textArea);
    }
    function copyTextToClipboard(text, callback) {
      if (!navigator.clipboard) {
        fallbackCopyTextToClipboard(text);
        callback()
        return;
      }
      navigator.clipboard.writeText(text).then(function() {
        console.log('Async: Copying to clipboard was successful!');
        callback()
      }, function(err) {
        console.error('Async: Could not copy text: ', err);
      });
    }
    this.querySelector('pre > button').textContent = 'Copying...'
    copyTextToClipboard(this.querySelector('code').textContent, () => {
      this.querySelector('pre > button').textContent = 'Copy'
    })
  </script>
  <script onrender onchange>
    const container = this.querySelector('.preview')
    container.innerHTML = ''
    const iframe = document.createElement('iframe')
    container.appendChild(iframe)
    const preview = iframe.contentWindow.document.body
    const style = document.createElement('style')
    style.innerHTML = `body { display: flex; width: 100vw; height: 100vh; align-items:center; justify-content: center;}`
    preview.appendChild(style)
    const lib = document.createElement('script')
    lib.setAttribute('src', 'uifactory.js')
    lib.setAttribute('import', '@' + component)
    preview.appendChild(lib)
    const comp = document.createElement(component)
    this.querySelectorAll('input').forEach(prop => {
      const bs5Input = prop.parentElement.parentElement
      if('type' in bs5Input.dataset && bs5Input.dataset.type === 'style') {
        comp.style[prop.name] = prop.value
      } else {
        if(prop.value.length > 0) {
          comp.setAttribute(prop.name, prop.value)
        }
      }
    })
    this.querySelector('code').textContent = comp.outerHTML
    preview.appendChild(comp)
  </script>
</template>





<script src="uifactory.js" import="@bs5-input @svg-chart"></script>
<script>
  new Promise(res => {
    const interval = setInterval(function(){
      if('bs5-input' in uifactory.components) {
        clearInterval(interval)
        document.querySelector('#output').innerHTML = `<uifactory-config component="bs5-input"></uifactory-config>`
        res()
      }
    }, 100)
  })
</script>
<bs5-input onchange="updateConfig(event)" type="select" title="component" default="svg-chart" items="['bs5-input', 'svg-chart']"></bs5-input>
<div id="output"></div>
<script>
  function updateConfig(e) {
    document.querySelector('#output uifactory-config').setAttribute('component', e.currentTarget.items[Number(e.target.value)])
  }
</script>
